<div class="container d-flex flex-column">
  <div class="mb-5">
    <h1 class="home-title">Deals for <%= @category.capitalize %></h1>
  </div>
  <div class="row g-3">
    <% @deals.each do |deal| %>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: url('<%= "#{deal.image_path}" %>');">
          <%= link_to deal.name, deal_path(deal) %>
        </div>
      </li>
    </div>
    <% end %>
  </div>

</div>
