<h1 class="home-title">Deals for <%= @category.capitalize %></h1>
<div class="container">
  <ul id="subdeals">
    <% @deals.each do |deal| %>
      <li>
        <div class="card" style="background-image: url('<%= "https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5.fit_scale.size_1028x578.v1582751026.png" %>');">
          <a href="#" class="rrr" role="button"><%= deal.name %></a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
