.footer {
  background: white; // Match the navbar background
  border-top: 1px solid #e9ecef;
  padding: 3rem 1rem; // Match the navbar's padding
  text-align: center;
  color: white;

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col-md-6.text-md-end {
      margin-top: 1rem; // Adds space between the list and the top border
    }

    ul {
      padding-left: 0;
      list-style: none;
      margin-top: 1rem; // Adds space between the links and the top border

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          color: #ffffff;
          padding: 0;
          &:hover {
            color: #343a40;
          }
        }
      }
    }
  }
}

// Layout Styles for Sticky Footer
html, body {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.min-vh-100 {
  min-height: 200vh;
}

.flex-fill {
  flex: 1;
}
